################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FaceRecognitionNETCore/bin/Debug/netcoreapp2.0
/FaceRecognitionNETCore/obj
